.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10%, 80px);
    color: rgb(249, 151, 40);
    font-size: 35px;
}


.navbar .profile{
    width: 40px;
}